<div class="header">
  <h2>Add a New Tank Below!</h2>
</div>
<div class="row">
  <div class="column side" style="background-color:#cce6ff;"><form class="" action="/tanks" method="post">
  <label for="title">Title:</label>
  <input id="title" type="text" name="title" value="">
  <br>
  <br>
  <label for="image_url">Tank Image URL:</label>
  <input id="image_url" type="text" name="image_url" value="">
  <br>
  <br>
  <label for="size">Tank Size:</label>
  <input id="size" type="text" name="size" value="">
  <br>
  <br>
  <label for="flora">Enter All Plants and Fish:</label>
  <input id="flora" type="text" name="flora" value="">
  <br>
  <br>  
  <input type="submit" name="" value="Add Tank">
</form></div>
</div>
<div class="footer">
  <p><a href="/">Back</a></p>
</div>
