
<div class="header">
  <h2>Please log in below</h2>
</div>
<div class="row">
  <div class="column side" style="background-color:#cce6ff;"><form class="" action="/login" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email" id="email" value="">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" value="">
  <input type="submit" name="" value="Log In!">
</form></div>
</div>
<div class="footer">
  <p><a href="/">Back</a></p>
</div>


