<div class="container">
  <h1>Welcome to Aqua Hobbyist!</h1>
  
  <h3>Here, you will be able to share your aquariums to the world!</h3>
  <br>
  <p>If you have an account, please press the log in button below.</p>
  <br>
  <p>New to Aqua Hobbyist? Join us by clicking the signup button!</p>
  <br>
  <a href="/login">Log In</a> OR  <a href="/signup">Sign Up</a>
</div>