
<html>
<div class="header">
  <h2>Welcome to Aqua Hobbyist!</h2>
</div>

<div class="row">
  <div class="column side" style="background-color: #3399ff; font-size:30px;">If you have an account, please press the log in button below.</div>
  <div class="column middle" style="background-color:#cce6ff;font-size:30px;">Here, you will be able to share your aquariums to the world!</div>
  <div class="column side" style="background-color:#3399ff;font-size:30px;">New to Aqua Hobbyist? Join us by clicking the signup button!</div>
</div>

<div class="footer">
  <p><a href="/login">Log In</a> OR  <a href="/signup">Sign Up</a></p>
</div>

</body>
</html>
